{% extends 'base.html.twig' %}

{% block title %}Mon contact !{% endblock %}

{% block body %}
    <div class="text-center w-100 mt-5">
        <div class="row">
            <div class="col-md-6 text-md-end fw-bold">Nom :</div>
            <div class="col-md-6 text-md-start">
                Jérémy Hennegrave
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 text-md-end fw-bold">Courriel :</div>
            <div class="col-md-6 text-md-start">
                <a href="mailto:professionnel@jeremy-hennegrave.net">
                    professionnel@jeremy-hennegrave.net
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 text-md-end fw-bold">Tèl :</div>
            <div class="col-md-6 text-md-start">
                <a href="tel:+33649751506">
                    +33(0)6.49.75.15.06
                </a>
            </div>
        </div>
    </div>    
{% endblock %}
