{% extends 'base.html.twig' %}

{% block title %}Mon contact !{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="d-block text-center w-100">
            <div class="row">
                <div class="col-md-6 text-md-end">Courriel :</div>
                <div class="col-md-6 text-md-start">professionnel@jeremy-hennegrave.net</div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 text-md-end">Tèl :</div>
                <div class="col-md-6 text-md-start">+33(0)6.49.75.15.06</div>
            </div>
        </div>    
    </div>
{% endblock %}
