<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/base.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link {% if app.current_route == "app_home"  %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if app.current_route == "app_populate"  %}active{% endif %}" href="{{ path('app_populate') }}">Peupler la base</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if app.current_route == "app_contact"  %}active{% endif %}" href="{{ path('app_contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if app.current_route == "app_about"  %}active{% endif %}" href="{{ path('app_about') }}">A propos</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
