{% extends 'base.html.twig' %}

{% block title %}Peuplement !{% endblock %}

{% block body %}
    <div class="text-center mt-5">
        {% for line in cliOutput %}
            {% if loop.last %}
                <div class="alert alert-success">
                    {{ line }}
                </div>
            {% else %}
                <div class="text-warning mb-2">
                    {{ line }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
