{% extends 'base.html.twig' %}

{% block title %}Peuplement !{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center h-100">
        {{ cliOutput|nl2br }}
    </div>
{% endblock %}
